@font-face {
  font-family: 'Hellix';
  src: url('../assets/font/Hellix-Thin.eot');
  src: local('Hellix Thin'), local('Hellix-Thin'),
    url('../assets/font/Hellix-Thin.woff2') format('woff2'),
    url('../assets/font/Hellix-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url('../assets/font/Hellix-Light.eot');
  src: local('Hellix Light'), local('Hellix-Light'),
    url('../assets/font/Hellix-Light.woff2') format('woff2'),
    url('../assets/font/Hellix-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url('../assets/font/Hellix-Regular.eot');
  src: local('Hellix Regular'), local('Hellix-Regular'),
    url('../assets/font/Hellix-Regular.woff2') format('woff2'),
    url('../assets/font/Hellix-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url('../assets/font/Hellix-Medium.eot');
  src: local('Hellix Medium'), local('Hellix-Medium'),
    url('../assets/font/Hellix-Medium.woff2') format('woff2'),
    url('../assets/font/Hellix-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url('../assets/font/Hellix-SemiBold.eot');
  src: local('Hellix SemiBold'), local('Hellix-SemiBold'),
    url('../assets/font/Hellix-SemiBold.woff2') format('woff2'),
    url('../assets/font/Hellix-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url('../assets/font/Hellix-Bold.eot');
  src: local('Hellix Bold'), local('Hellix-Bold'),
    url('../assets/font/Hellix-Bold.woff2') format('woff2'),
    url('../assets/font/Hellix-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url('../assets/font/Hellix-ExtraBold.eot');
  src: local('Hellix ExtraBold'), local('Hellix-ExtraBold'),
    url('../assets/font/Hellix-ExtraBold.woff2') format('woff2'),
    url('../assets/font/Hellix-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url('../assets/font/Hellix-Black.eot');
  src: local('Hellix Black'), local('Hellix-Black'),
    url('../assets/font/Hellix-Black.woff2') format('woff2'),
    url('../assets/font/Hellix-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
