$size_list: (
  140: (
    line-height: 140px,
    letter-spacing: -0.006em,
  ),
  120: (
    line-height: 140px,
    letter-spacing: -0.006em,
  ),
  110: (
    line-height: 110px,
    letter-spacing: -0.006em,
  ),
  100: (
    line-height: 120px,
    letter-spacing: -0.006em,
  ),
  64: (
    line-height: 78px,
    letter-spacing: -0.006em,
  ),
  54: (
    line-height: 54px,
    letter-spacing: -0.006em,
  ),
  48: (
    line-height: 48px,
    letter-spacing: -0.006em,
  ),
  40: (
    line-height: 48px,
    letter-spacing: -0.006em,
  ),
  32: (
    line-height: 40px,
    letter-spacing: -0.006em,
  ),
  26: (
    line-height: 34px,
    letter-spacing: -0.006em,
  ),
  24: (
    line-height: 34px,
    letter-spacing: -0.006em,
  ),
  20: (
    line-height: 28px,
    letter-spacing: -0.003em,
  ),
  16: (
    line-height: 24px,
    letter-spacing: -0.003em,
  ),
  14: (
    line-height: 20px,
    letter-spacing: -0.003em,
  ),
  12: (
    line-height: 18px,
    letter-spacing: -0.003em,
  ),
  10: (
    line-height: 16px,
    letter-spacing: -0.003em,
  ),
);
