$color_list: (
  white: #ffffff,
  black: #000000,
  grey0: #ececec,
  grey1: #cacaca,
  grey2: #777777,
  grey3: #444444,
  grey4: #2e2e2e,
  grey5: #1c1c1c,
  grey6: #161616,
  grey7: #0f0f0f,

  pink: #e066ff,
  blue: #4844ff,
  deepblue: #3d39f0,
  yellow: #f3ba2f,
);
